
#header-login {
    border-radius: 10px;
    background: #1872B3 url("../../media/sweetener-right.png") no-repeat bottom -1px right;
    background-size: contain;
    height: 38px;
}

.login-container .container {
    margin-top: 15vh !important;
    border-radius: 10px !important;
}

.form-group {
    position: relative;
}

.login-container label {
    position: absolute;
    top: -8px;
    left: 10px;
    padding: 0 5px;
    color: #C4C4C4;
    font-size: 12px;
    background: #FFFFFF;
}

.login-container button {
    font-size: 12px;
}