* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgba(249, 249, 251, 1);
}

input {
    font-size: 12px !important;
}

.btn-primary, .bg-primary, .text-primary {
    background-color: rgba(15, 110, 181, 1);
;
}

p {
    font-size: 11px;
    margin: 0;
}
